<!-- Coming Soon Page-->


<section class="welcome">
	
	<div class="left-col">
		<div class="type-lockup">
			<img src="https://res.cloudinary.com/yerri/image/upload/v1523712656/main-logo.svg" class="logo">
			<h1 class="tagline">Always Changing. Always Creating.</h1>
		</div>

		<div class="cta">
			<h1><span class="facultad-h1">join </span>
			<span class="hkgrotesk-h1">an online</span></h1>
			<h1><span class="facultad-h1">art club </span>
			<span class="hkgrotesk-h1">for newbies learning to express</span></h1>
			<h1><span class="facultad-h1">their ideas</span></h1>
		</div>
		<div class="squiggle">
			<img src="https://res.cloudinary.com/yerri/image/upload/v1523712656/doodle.svg">
		</div>
	</div>

	<div class="right-col">

		<div class="form-info">
		<h2>Sign up to get an invite to our slack channel</h2>
		<p>
			We will be talking about our work, business, teachers not returning emails, bad crits and if anyones having a bad day.
		</p>
		</div>

		<div class="form">

		<form action="https://formspree.io/yerrip@gmail.com"
      		method="POST">
      		<label for="name">Name</label>
		    <input type="text" name="name">

		    <label for="_replyto">Email</label>
		    <input type="email" name="_replyto">

		    <label for="school_or_company">School or Company</label>
		    <input type="text" name="school_or_company">
		    
		    <label for="city">City</label>
		    <input type="text" name="city">

		    <input type="submit" class="submit" value="Send">
		    <input type="hidden" name="_next" value="//site.io/thanks.html" />
		</form>

		</div>

	</div>
</section>


<!-- Home Page for Influx in the future
 --><!-- <section class="hero">
	<h1>Start the conversation, submit what you’re working on.</h1>
	<h2>Come on, don’t be shy!</h2>
	<p>
<%= link_to "New post", new_post_path %>
</p>

</section>

<h1>Posts</h1>

<section class="grid">

<% @posts.each do |post| %>

	<%= link_to post_path(post) do %>

		<%= image_tag post.image.thumb %>

	<% end %>

<% end %>

</section> -->