<section class="hero">
	<h1>Start the conversation, submit what you’re working on.</h1>
	<h2>Come on, don’t be shy!</h2>
	<p>
<%= link_to "New post", new_post_path %>
</p>

</section>

<h1>Posts</h1>

<section class="grid">

<% @posts.each do |post| %>

	<%= link_to post_path(post) do %>

		<%= image_tag post.image.thumb %>

	<% end %>

<% end %>

</section>