$blue: #393ef5;
$grey: #666666;
$white: #fff;
$yellow: #F7FB62;
$pink: #FF9BB7;
$cyan: #83FCFE;
$purple: #885AE7;
$facultad: Facultad, sans-serif;
$ibmplex: IBM Plex Mono, sans-serif;
$hkgothic: HK Gothic, sans-serif;

@font-face {
  font-family: "Facultad";
  src: url ('/assets/Facultad-Regular.otf');
}

@font-face {
  font-family: "HK Gothic";
  src: url ('/assets/HKGothic-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: "HK Gothic";
  src: url ('/assets/HKGothic-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url ('/assets/IBMPlexMono-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url ('/assets/IBMPlexMono-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* --------------------------------------- */

body {
	font-family: Helvetica;
	color: $blue;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 20px 10px 20px;
	background-color: $white;
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 16px;
		color: $grey;
		text-decoration: none;
	}
}

main {
	margin-top: 90px;
}

.hero  {
	background-color: $yellow;
	padding: 120px;

h1 {
	font-family: $facultad;
	font-size: 72px;
	color: rgba(0,0,0,0);
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $blue;
  margin-bottom: 35px;
}

h2 {
	font-family: $ibmplex;
	font-weight: 700;
	font-size: 24px;
	color: $pink;
	margin-bottom: 35px;
}

a {
	font-family: $facultad;
	text-decoration: none;
	padding: 10px 0px 10px 0;
	border-bottom: 5px solid $cyan;
}

}