$blue: #393ef5;
$grey: #666666;
$white: #fff;

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	color: $blue;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 20px 10px 20px;
	background-color: $white;
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 16px;
		color: $grey;
		text-decoration: none;
	}
}

main {
	margin-top: 60px;
}